.additionally {
  position: relative;
  overflow-x: hidden;
  .oswald();
  font-size: 16px;
  text-transform: uppercase;
  color: @black;
}

.additionally__group {
  padding: 23px 20px 34px 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    padding: 0 165px 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 30px 0 30px;
  }
}

.additionally__group-title {
  position: relative;
  display: inline-block;
  margin: 0 0 34px 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
    width: 10000%;
    height: 2px;
    background-color: @green-button;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 23px);
    width: 10000%;
    height: 2px;
    background-color: @green-button;
    z-index: -1;
  }


  @media (min-width: @tablet-width) {
    margin-bottom: 57px;

    &::before {
      right: calc(100% + 39px);
    }


    &::after {
      left: calc(100% + 41px);
    }


    @media (min-width: @desktop-width) {
      font-size: 36px;
      line-height: 36px;

      &::before {
        right: calc(100% + 40px);
      }


      &::after {
        left: calc(100% + 40px);
      }
    }
  }
}

.additionally__list {
  .list-style();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additionally__list-item {
  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 0;
  }
}
