.additionally {
  padding: 23px 20px 34px 20px;
  .oswald();
  font-size: 16px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    padding: 0 165px 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 30px 65px 30px;
  }
}

.additionally__group {
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.additionally__group-title {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  color: @black;


  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.additionally__list {
  .list-style();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additionally__list-item {
  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 0;
  }
}
