.advantages__wrapper {
  padding: 0 20px 49px 20px;
}

.advantages__title {
  margin: 0 0 40px 0;
}

.advantages__list {
  .list-style();
  display: grid;
}

.advantages__description {
  color: @dark-grey;
}

/* Для планшета */
@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding: 45px 30px 47px 30px;
  }

  .advantages__title {
    margin: 0 0 32px 0;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
  }
}
