.button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green-button;
}

.button--background {
  background-color: @gray;
}


/* Для планшета */
@media (min-width: @tablet-width) {
  .button {
    padding: 14px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
