.comment {
  position: relative;
  overflow-x: hidden;
}

.comment__wrapper {
  padding: 24px 20px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 67px 65px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 30px 67px 30px;
  }
}

.comment__field {
  width: 100%;
  padding: 9px 0 0 15px;
  .oswald();
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    padding: 10px 0 0 19px;
  }
}

.comment__field-title {
  position: relative;
  display: inline-block;
  margin-bottom: 37px;
  .oswald();
  font-size: 24px;
  line-height: 26px;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
    width: 10000%;
    height: 2px;
    background-color: @green-button;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 22px);
    width: 10000%;
    height: 2px;
    background-color: @green-button;
    z-index: -1;
  }


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &::before {
      right: calc(100% + 39px);
    }


    &::after {
      left: calc(100% + 38px);
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      right: calc(100% + 40px);
    }


    &::after {
      left: calc(100% + 40px);
    }
  }
}


@media (min-width: @desktop-width) {
  .comment {
    padding: 0 30px 67px 30px;
  }
}
