.footer {
  background-color: @gray;
}

.footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    padding-bottom: 55px;
    display: flex;
    align-items: center;
  }
}

.footer__logo-link {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid @form-border;
  color: @information;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    border: none;
  }
}

.footer__logo-link:hover .footer__logo-icon {
  fill: #3e3e3e;
}

.footer__logo-link:active .footer__logo-icon {
  fill: #6b6b6b;
}

.footer__logo-image {
  display: flex;
  margin: 0 auto;
  padding: 0 0 32px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.footer__social-list {
  .list-style();
  display: flex;
  justify-content: center;
  padding: 22px 0 21px 0;
  border-bottom: 1px solid @form-border;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: 135px;
    border: none;
  }
}

.footer__social-item {
  width: 28px;
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
  }
}

.footer__htmlacademy {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: @dark-grey;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    min-width: 163px;
    margin-top: 0;
    margin-left: auto;
  }
}

.footer__social-link {
  color: @icon;
}

.footer__social-link:hover {
  color: @green-button;
}

.footer__social-link:active {
  color: @green-button;
  opacity: 0.3;
}

.footer__social-icon > * {
  fill: currentColor;
}

.footer__htmlacademy:active {
  opacity: 0.3;
}

.footer__htmlacademy-link {
  fill: @icon;
}

.footer__htmlacademy:hover .footer__htmlacademy-link {
  fill: @green-button;
}

.footer__logo-icon {
  width: 128px;
  height: 24px;
  fill: @information;

  @media (min-width: @tablet-width) {
    width: 157px;
    height: 26px;
  }
}
