.form-title__wrapper {
  padding: 27px 20px 17px 20px;
}

.form__group {
  padding: 22px 20px 19px 20px;
  border-bottom: 1px solid @form-border;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: @dark-grey;
}
