.hero-container {
  background: linear-gradient(360deg, #ffffff 217px, #68B738 0);
  background-image: url("../../img/cat-background-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container__center {
  width: 320px;
  margin: 0 auto;
  padding: 27px 20px 0 20px;
}

.hero-container__main {
  display: flex;
  flex-direction: column;
}

.hero-container__description {
  margin-top: 25px;
}
