.information {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
  }
}

.information__invite {
  .oswald();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @information;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}

.information__address {
  font-style: normal;
  line-height: 20px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    width: 160px;
    margin-left: auto;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}
