.information {
  padding: 26px 20px 26px 20px;
}

.information__invite {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @information;
}

.information__address {
  font-style: normal;
  line-height: 20px;
  color: @dark-grey;
}

/* Для планшета */
@media (min-width: @tablet-width) {
  .information {
    padding: 56px 70px;
    display: flex;
  }

  .information__invite {
    width: 171px;
  }

  .information__address {
    width: 160px;
    margin-left: auto;
    text-align: right;
  }
}
