.main-nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-style();
}


.main-nav__link {
  text-decoration: none;
  color: @black;
}

/* Для планшета */
@media (min-width: @tablet-width) {
  .main-nav {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .main-nav__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__link {
    padding-bottom: 10px;
  }
}
