.main-footer {
  background-color: @gray;
}

.main-footer__wrapper {
  padding: 39px 20px 22px 20px;

  @media (min-width: @tablet-width) {
    padding: 58px 30px 55px 30px;
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__social-list {
  .list-style();
  display: flex;
}

.main-footer__htmlacademy {
  font-size: 16px;
  line-height: 19px;
  color: @dark-grey;
  text-decoration: none;
}
