.main-nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-style();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__item {
  width: 320px;
  border-top: 1px solid @nav-item-border;

  &:last-child {
    border-bottom: 1px solid @nav-item-border;
  }

  @media (min-width: @tablet-width) {
    width: max-content;
    margin-right: 34px;
    border: none;
    padding: 0;

    &:last-child {
      margin-right: 0;
      border: none;
    }
  }

  @media (min-width: @desktop-width) {
    z-index: 1;
  }
}

.main-nav__link {
  display: flex;
  justify-content: center;
  padding: 22px 0 24px 0;
  text-decoration: none;
  color: @black;
  cursor: pointer;


  @media (min-width: @tablet-width) {
    padding: 10px 0 10px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link--color {
  @media (min-width: @desktop-width) {
    color: @white;
  }
}
