.main-description {
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;
}

.main-description--form {
  color: @black;
}

/* Для планшета */
@media (min-width: @tablet-width) {
  .main-description {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }

  .main-description--form {
    line-height: 30px;
  }
}
