.map__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.map--background {
  background-color: @gray;
}

/* Для дескстопа */
@media (min-width: @desktop-width) {
  .map {
    position: relative;
  }

  .map__adress {
    position: absolute;
    top: 95px;
    left: calc(50% - 600px);
    width: 565px;
    padding: 80px 56px;
    z-index: 1;
    background-color: @white;
  }

  .map__image {
    height: 400px;
  }
}
