.more__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @information;
}

.more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-grey;
}

.more__image {
  display: block;
}

