.other-product__wrapper {
  padding: 25px 0 30px 0;
}

.other-product__title {
  margin: 25px 0 30px 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @black;

  @media (min-width: @desktop-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: -100%;
      top: 25px;
      transform: translate(-40px, 0);
      background-color: @green-button;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 373px;
      top: 25px;
      background-color: @green-button;
    }
  }
}

.other-product__list {
  .list-style();
}

.other-product__item {
  display: grid;
  padding: 13px 20px 19px 20px;
  border-top: 1px solid @other-border;

  &:last-child {
    border-bottom: 1px solid @other-border;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 285px 285px 244px;
    height: 72px;
    gap: 40px;
    padding: 0;
  }
}

.other-product {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 79px;
  }
}

.other-product__item-title {
  margin: 0;
  .oswald();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @product-itle;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.other-product__feature {
  display: flex;
  justify-content: space-between;
}
