.other-product {
  position: relative;
  overflow-x: hidden;


  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.other-product__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
    padding: 0 30px;
  }
}

.other-product__title-wrapper {
  padding: 25px 0 30px 0;

  @media (min-width: @tablet-width) {
    padding: 68px 30px 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 76px 30px 0 30px;
  }
}

.other-product__title {
  position: relative;
  display: inline-block;
  margin: 25px 0 30px 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
    width: 10000%;
    height: 2px;
    background-color: @green-button;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 21px);
    width: 10000%;
    height: 2px;
    background-color: @green-button;
    z-index: -1;
  }


  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
    padding-left: 36px;
  }


  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-bottom: 81px;
    margin-top: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}

.other-product__list {
  .list-style();
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    padding: 0;
  }
}

.other-product__item {
  display: grid;
  padding: 13px 0 19px 0;
  border-top: 1px solid @other-border;

  &:last-child {
    border-bottom: 1px solid @other-border;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: auto auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 325px 285px 284px;
    align-content: center;
    height: 72px;
    padding: 0;
  }
}


.other-product__item-title {
  margin: 0;
  .oswald();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @product-itle;

  @media (min-width: @tablet-width) {
    align-self: center;
    font-size: 20px;
    line-height: 20px;
  }
}

.other-product__feature {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: end;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.other-product__link {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3 / -1;
    margin-left: 40px;
  }
}
