.product-list {
  padding: 0;
  margin: 0;
}

.product-list__value {
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.product-list__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @product-itle;
}

.product-list__mark {
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.product-list__item-wrapper {
  padding: 19px 20px 25px 20px;
  border-top: 1px solid @product-border;

  &:last-child {
    border-bottom: 1px solid @product-border;
  }
}
