.program__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.program__item {
  margin-bottom: 20px;
  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.program__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.program__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
