.submit__description {
  line-height: 16px;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-left: 64px;
  }
}

.submit {
  @media (min-width: @tablet-width) {
    padding: 0 177px 72px 70px;
  }
}
