/* брейкпойнты */
@tablet-width: 768px;
@tablet-width_only: 1279px;
@desktop-width: 1280px;
@mobile-width-only: 767px;
/* Цвета */
@green: rgba(104, 183, 56, 0.85);
@green-background: #65A83C;
@white: #ffffff;
@green-button: #68b738;
@gray: #f2f2f2;
@black: #000000;
@dark-grey: #444444;
@background-gray: #eaeaea;
@form-border: #d9d9d9;
@information: #111111;
@other-border: #cdcdcd;
@product-itle: #222222;
@product-border: #ebebeb;
@form-program-border: #e7e7e7;
@nav-item-border: #e6e6e6;
@cat-gradient: rgba(105, 183, 56, 0.85);

/* IШрифт */
@Oswald:  "Oswald", sans-serif;
@Lato:  "Lato", sans-serif;
